@font-face {
    font-family: 'Rochester';
    src: url(Rochester-Regular.ttf) format(trueform);
}

body {
    text-align: center;
}

body {
    background-image: url(glitter.gif);
    background-repeat: no-repeat;
}

h1 {
    font-family: cursive;
}

p {
    font-family: cursive;
    font-size: 38px;
}

img{
    width: 400px;
}

h2 {
    font-family: cursive;
    font-size: 60px;
}

div {
    font-family: cursive;
    font-size: 38px;
}

h3 {
    font-family: cursive;
    font-size: 38px;
}