@font-face {
    font-family: 'Rochester';
    src: url(Rochester-Regular.ttf) format(trueform);
}

body {
    text-align: center;
}

body {
    background-image: url(glitter-hearts.gif);
}

h1 {
    font-family: 'Rochester';
}